body{
  background: url(add bk url);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Times New Roman", Times;
  text-align: center;
  font-size: 20px;
  color:white;
  vertical-align: middle;
}

label{
  float:none;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
