body{
     background-color: #009094;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     font-family: "Times New Roman", Times;
     text-align: center;
     font-size: 20px;
     color:#00c2c7;
     vertical-align: middle;
}

@media only screen and (max-width:750px){
  body{
    color:#00c2c7;
  }
}

@media only screen and (min-width: 1300px) {
  body {
    font-size: 3.375em;
    color:#00c2c7;
  }

 label{
     float:none;
     display: inline-block;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
}
 h1{
     color:#00c2c7;
     font-style: oblique;
     font-family: Times;
     font-size:1.5em;
     text-shadow:#00c2c7 0 0 100px;
}

@media  only screen and (min-width: 1000px)
  body {
    font-size:2.25em;
    color:#00c2c7;

  }

 input::placeholder{
     text-align: center;
}
 div{
     height: 70px;
     align-items: center;
     text-align: center;
}
 .box{
     text-align: center;
     height: auto;
     width: auto;
     padding: 10px;
     background-color: #48D1CC;
}
 input[type=text], input[type=email] {
     width: 25%;
     font: 10px;
     padding: 7px;
     vertical-align: middle;
}
 input [type=submit]{
     align-items: center;
     width: 16%;
     margin: 25px;
     border-radius: 50% ;
     font-size:64px;
}
